/* Custom Styling for NeighbourCall */

form {
	margin-top: 20px;
}

#logo {
	max-width: 75%;
}

#divAddressInputs div {
	padding-left: 0;
	padding-right: 0;
}

#divTimeInput {
	margin-top: 20px;
}

#divTimeInput input::placeholder {
	padding-left: 10px;
}

h4 {
	margin-bottom: 20px;
}

.no-margin {
	margin: 0;
}

.success-title {
	font-weight: 600;
}

.success-icon {
	color: green;
}

.content-middle {
	text-align: center;
}

/* Mobile Styling */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#logo {
		max-width: 100%;
	}

	h5 {
		font-size: 1.4rem;
	}

	.input-field {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	
}